/**
 * Basic typography style for copy text
 */
body {
  color: $dark-grey;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 300;
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
}

h1{
  font-weight: 800;
}

h2{
  font-size: 2.2em;
  line-height: 150%;
}

h4{
  font-size: 1.2em;
}


dd {
    margin-left: 25px;
}