// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer{
	background: #000;
	padding: 20px 0;
	p{
		color: #FFF;
		font-size: 1rem;
		letter-spacing: 1px;
		margin: 0;
	}
}